
<% if (success && success.length > 0) { %>
  <div class="container mt-2 pt-1">
    <div class="alert alert-success d-flex align-items-center py-1 px-2 w-50 ms-auto" role="alert">
      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
        <use xlink:href="#check-circle-fill"/>
      </svg>
      <div>
        <strong><%= success %></strong>
      </div>
      <button type="button" class="btn-close btn-close-sm ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
<% } %>
  
<% if (error && error.length > 0) { %>
  <div class="container mt-2 pt-1">
    <div class="alert alert-danger d-flex align-items-center py-1 px-2 w-50 ms-auto" role="alert">
      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Error:">
        <use xlink:href="#exclamation-triangle-fill"/>
      </svg>
      <div>
        <strong><%= error %></strong>
      </div>
      <button type="button" class="btn-close btn-close-sm ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
<% } %>
