<nav class="navbar navbar-expand-md bg-body-light border-bottom">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa-regular fa-compass"></i>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse bg-white" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/listings">Explore</a>
          
        </div>
        <div class="navbar-nav ms-auto">
            <form class="d-flex" role="search">
              <input class="form-control me-2 search-inp" type="search" placeholder="Search destinations"/>
              <button class=" btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
            </form>
        </div>
        <div class="navbar-nav ms-auto">
          <a class="nav-link hover_btn list_" href="/listings/new">Become a Host</a>
          <% if (currUser) { %>
            <a class="nav-link text-danger hover_btn list_" href="/logout"><b>Logout</b></a>
          <% } else { %>
            <a class="nav-link  login_nav hover_btn" href="/login"><b>Get Started</b></a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>