<%- layout("layouts/boilerplate") %>

<div class="empty-img">
    <img  src="https://res.cloudinary.com/dmaaqtkwp/image/upload/v1747736861/wanderlust_DEV/szxdpcz874gsinzri5og.jpg" alt="">
</div>

<style>
  .empty-img img {
    width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
    max-width: 600px;
  }

  @media (max-width: 600px) {
    .empty-img img {
      width: 95%;
    }
  }
</style>
